body {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  padding: 10px;
}
html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}


@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

#learnMore {
  text-align: justify;
  hyphens: : auto;
  padding: 5px;
}

h1 {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 1.75em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.75em;
}
h3 {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 1.5em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.75em;
}
h4 {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 1.25em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.5em;
}
a {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 1.5em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.5em;
  color: gray;
}
p {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1.5em;
}
blockquote {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1.5em;
}
img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
li {
  list-style-type: none;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.emailLink {
	text-decoration: none;
	background-color: #ace1af;
}

.emailLink:hover, .emailLink:active {
	text-decoration-color: #addfad; 
}